
$color-1: #003162;
$color-2: #0c9df4;
$color-3: #ffcddb;
$color-4: #ff577e;
$color-5: #ff184d;

$color-8: #01203e;

#glitch-item{    
  background: rgba(0, 0, 0, 0.219);    
  width: 100vw;
  height: calc(100vh - 110px);    
}
#glitch.container {
  position: absolute;
  
  left: 0;
  top:110px;
  width: 100vw;
  height: calc(100vh - 150px);   
  z-index: 3;
}

.image-container>img {
  width: 950px;
}

.transparent {
  opacity: 0;

}
.sound-bar{
  position: absolute;
  left:10%;
  top:10%;
  width: 3rem;
  height: 14px;
  border:1px solid $color-3;
  border-radius: 10px ;
  z-index: 2;
}
.sound-bar i {
  position: absolute;
  color: #ff184d;
  left:3.5rem;
  top:-3px;
}

.ball{
  position: absolute;
  left:2px;
  top:0;
  width: 12px;
  height: 12px;
  background: $color-5;
  border-radius: 10px;
  transition: 0.2s;
}

.ball.off{
  position: absolute;
  left:2rem;
  top:0;
  width: 12px;
  height: 12px;
  background: $color-5;
  border-radius: 10px;
  transition: 0.2s;
}
#image-container{
  text-align: center;
  position: absolute;
  
  height: 100%;
  transform: translate(-50%);
  left: 50vw;
  top:5%;    
  overflow: hidden;
  
}

.box{
  position: absolute;
  background-image: url('../imgs/glitch2.png');
  opacity: 60%;
  background-attachment: fixed;
  background-size: 950px;
  z-index: 10;
  filter:grayscale(50%);
  
}


.glitch-image{
  position: absolute;
  left:50%;
  transform: translateX(-50%);
  filter: grayscale(30%)!important;
  height: 70vh;
}

.glitch-image2{
  height: 70vh;
}

.time {
  position: absolute;
  left: 70vw;
  top:10%;
  font-weight: 100;
  background: transparent;
  color: $color-5;
}


.glitch-sound{
  position: absolute;
  left:0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: transparent;
  z-index: -1;
}
.glitch-sound.active{ // active?
  position: absolute;
  left:0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: transparent;

  
  z-index: 100;
}

.weather {
  position: absolute;
  left: 10%;
  top:70%;
  width: 20%;
  min-width: 200px;
  text-align: center;
  z-index: 100;
  color: $color-4;
  font-family: Orbitron;
}

.weather-search {
  background: rgba(0, 0, 0, 0.219);
  border: none;
  border-bottom: 1px solid $color-5;
  margin: 1rem;
  color:  $color-5;
}
.weather-search:focus {
  outline: none !important;
  border:1px solid $color-5;
  border-radius: 5px;
  
}


.search {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1rem;
}

@media (max-width: 992px) {
  #image-container {
    width: 100vw;
  }

  .glitch-image{
    height: 45vh;
    
  }
  
  .glitch-image2{
    height: 45vh;
   
  }
}