body {
  background: linear-gradient(0deg, rgb(125, 28, 69) 0%, rgb(1, 32, 62) 100%);
  min-height: 100vh;
}

nav {
  background-size: cover;
  height: 110px;
}

.navbar-expand-lg {
  position: relative;
  z-index: 10000;
}

.navbar-expand-lg .nav-item {
  border-left: 20px solid;
  border-right: 20px solid;
  border-top: 5px solid;
  border-bottom: 5px solid;
  border-image-source: url("../imgs/Button_white.png");
  opacity: 70%;
  border-image-slice: 20%;
  filter: drop-shadow(5px 2px 0 rgba(0, 0, 0, 0));
  align-self: start;
  max-height: 60px;
  margin-right: 15px;
  background-color: rgba(255, 255, 255, 0.13);
}

.navbar-expand-lg .nav-item .nav-link {
  font-size: 0.6cm;
  color: #ffcddb;
  padding-top: 10px;
  font-family: Orbitron;
  height: 60px;
  width: calc(100% + 30px);
  margin-left: -15px;
  margin-top: -5px;
}

.navbar-expand-lg .nav-item:hover {
  filter: drop-shadow(5px 2px 10px #ff184d);
  opacity: 100%;
}

.navbar-expand-lg .nav-item .nav-link:hover {
  color: #ff184d;
  opacity: 100%;
}

.navbar-expand-lg .nav-item:active {
  border-image-source: url("../imgs/Button_active.png");
  filter: drop-shadow(1px 1px 15px #ff577e);
  opacity: 100%;
}

.navbar-expand-lg .nav-item .nav-link:active {
  background-color: #ff184d;
  color: #01203e;
}

.navbar-expand-lg .dropdown-menu {
  background-color: #ff577e;
  border-radius: 0;
  margin-left: -17px;
  position: relative;
  z-index: 10000 !important;
}

.navbar-expand-lg .dropdown-item {
  color: #01203e;
  font-family: "Chakra Petch";
  font-size: 18px;
  font-weight: 500;
}

.navbar-expand-lg .dropdown-item:hover {
  background-color: #ff184d;
  color: #01203e;
}

.navbar-expand-lg .dropdown-item:active {
  background-color: #ff184d;
  color: #01203e;
}

@media (min-width: 992px) {
  .navbar.navbar-expand-lg .dropdown-toggle#navbarDropdownMenuLink {
    visibility: hidden;
    visibility: collapse;
    width: 0;
  }
}
@media (max-width: 992px) {
  nav {
    background: linear-gradient(0deg, rgb(125, 28, 69) 0%, rgb(1, 32, 62) 100%);
    background-size: cover;
    height: 80px;
  }
}
.nav-link#navbarDropdownMenuLink {
  height: 50px;
  font-size: 0.6cm;
  color: #ffcddb;
  background-color: #01203e;
  font-family: Orbitron;
  filter: drop-shadow(5px 2px 0 hsla(0deg, 0%, 0%, 0));
  text-align: center;
  width: 100%;
}

@media (max-width: 992px) {
  .navbar.navbar-expand-lg .dropdown-menu#navbarDropdownMenuLink {
    width: 100%;
  }
}
.nav-link#navbarDropdownMenuLink:hover {
  color: #ff184d;
  filter: drop-shadow(5px 2px 0 #ff184d);
}

.navbar-expand-lg .dropdown-menu.wide {
  width: 100%;
  align-items: center;
  text-align: center;
  font-size: 0.5cm;
}

.list-unstyled i {
  font-size: 36px;
  color: #ff184d;
}

footer .row h5 {
  color: #ff184d;
  font-family: Orbitron;
  font-size: 20px;
}

footer .row li {
  font-family: "Chakra Petch";
  font-size: 18px;
}

footer .row a {
  color: #ffcddb;
}

p.smalltext {
  font-family: "Chakra Petch";
  color: #ffcddb;
  font-size: small;
}

footer.py-5 {
  padding-bottom: 0px !important;
}

footer .d-flex.py-4 {
  padding-bottom: 0px !important;
}

footer .d-flex.my-4 {
  margin-bottom: 0px !important;
}

.card {
  border: 5px solid;
  border-image-source: url("../imgs/Image_Frame_Pink.png");
  border-image-slice: 1.6%;
  background-color: hsla(0deg, 0%, 0%, 0);
  position: relative;
  z-index: -100;
}

.card > .card-body {
  background-color: rgba(255, 255, 255, 0.13);
  font-family: "Chakra Petch";
  border-radius: 0px 0px 9px 9px;
}

.card .card-title {
  color: #ffcddb;
  filter: drop-shadow(0px 0px 5px #ffcddb);
  border-bottom: #ffcddb solid 2px;
}

.card .card-text {
  color: #ffcddb;
  filter: drop-shadow(0px 0px 3px #ff184d);
}

.card img {
  border-radius: 9px 9px 0px 0px;
}

.carousel {
  position: relative;
  z-index: -1;
}

main.cards {
  padding: 0 10px;
}

#aboutMe {
  background-color: rgba(0, 0, 0, 0.219);
  width: 100vw;
  min-height: calc(100vh - 100px - 280px);
  padding: 20px;
  position: relative;
}

#aboutMe h1 {
  color: #ffcddb;
  font-family: Orbitron;
}

#aboutMe p {
  color: #ffcddb;
  font-family: Chakra Petch;
}

#aboutMe h1 span {
  color: #ff184d;
}

#aboutMe p span {
  color: #ff577e;
}

#aboutMe a {
  color: #ff577e;
}

#aboutMe a:hover {
  color: #ff184d;
}

#aboutMe img {
  max-height: 300px;
}/*# sourceMappingURL=styles.css.map */